<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div th:replace="fragments/header :: header('Chi tiết sách')"></div>

<p>ID: <span th:text="${book.id}"></span></p>
<p>Tên: <span th:text="${book.name}"></span></p>
<p>Tác giả: <span th:text="${book.author}"></span></p>
<p>Giá: <span th:text="${book.price}"></span></p>

<a th:href="@{/books}">← Quay lại</a>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>