<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Book Store">Book Store</title>
</head>

<body>

<!-- HEADER -->
<header>
    <h1>Book Store System</h1>
    <hr/>
</header>

<!-- NỘI DUNG ĐỘNG -->
<div layout:fragment="content">
    <!-- nội dung từng trang sẽ được chèn vào đây -->
</div>

<!-- FOOTER -->
<footer>
    <hr/>
    <p>© 2026 Book Store - Internal System</p>
</footer>

</body>
</html>